#red-box-container {
    max-width: 450px;
    margin: 10px auto;
    border-radius: 10px;
    background-color: rgb(120, 13, 15, 0.5);
}

#red-box-title {
    width: 100%;
    height: 40px;
    border-bottom: solid 2px white;
    background-color: var(--red2);
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


#red-box-title h3 {
    font-family: 'Exo', Arial, sans-serif;
}

@media screen and (max-width: 768px) {
    #red-box-container {
        max-width: 95%;
    }
}