#newsletter-content {
    width: 70%;
    margin: auto;
    padding: 20px;
    align-items: left;
    align-content: left;
}

.input {
    height: 25px;
    padding: 2px 4px;
    margin: 0;
    border: solid 3px var(--pink3);
    border-radius: 10px;
}

input {
    width: 90%;
    background-color: transparent;
    border: transparent !important;
    outline: none;
}

textarea:focus, input:focus{
    outline: none;
}

@media screen and (max-width: 768px) {
    /* #newsletter-content {
        min-height: 100vh;
    } */
}