#resume {
    position: relative;
    width: 100vw;
    padding: 30px;
    background-image: url('/assets/story-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 0;
}

#story-bg-character {
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 1;
    background-image: url("/assets/story-bg-character.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 380px;
    height: 750px;
}

@media screen and (max-width: 768px) {
    #resume {
        min-height:5vh;
        padding: 5% 1%;
    }

    #story-bg-character {
        display: none;
    }
    
}