#accordion {
    position: relative;
    margin: 0;
    height: 60px;
    width: 100%;
    background-color: black;
    color: white;
    border-bottom: solid 4px var(--red1);
    z-index: 100;
}

#accordion #accordion-logo {
    position: absolute;
    left: -80vw;
    margin-left: 5vw;
    top: 0;
}

#accordion #accordion-details {
    min-height: 50vh;
    background-color: black;
    color: white;
}

#accordion #accordion-details .button {
    width: 75vw;
    height: 35px;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    color: black;
    font-size: 20px;
    /* font-weight: bold; */
}

#header-fb {
    margin-top: 20px;
    width: 80vw;
    height: 60px;
    color: white;
}

.logo-phone-header {
    position: absolute;
    left: 10px;
    top: 0;
    color: white;
    background-image: url("/assets/logo.png");
    height: 60px;
    width: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }